<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap_css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    
    
</head>
<body>

    <div class="centrado-porcentual col-12">
        <div style="text-align: center"><img src="images/Logo.png" width="50%"></div><br>
        <div id="bienvenida">
        <span>Bienvenido!</span><br> Disfruta de las excursiones que tenemos para ti!
    </div><br><br>
                <p class="lead text-center">
                  <a class="btnp btn-primary btn-lg" id="contenedor5"  href="/iniciar" role="button"><strong>Ir de excursión </strong>➜</a> 
                </p>
    </div>

        <div class="row adminLink">
            <div class="col-12">
                    <a href="/login">Ir administracion </a>
            </div>
        </div>
</body>
</html>
