<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>

<div class="row justify-content-between bg-light modal-body" id="menu">
    <div><img src="../../images/Logo.png" width="250px"></div>
    <br>
    <a href="/admin" class="btn btn-danger">Admin</a>
</div>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Pregunta</th>
    </tr>
    </thead>
    <tbody>
  {{#each preguntas}}
       <tr>
        <td>{{pregunta}}</td>
        <td><a href="/preguntas/{{id}}/edit" class="btn btn-primary" role="button">Editar</a></td>
        <td><a href="/preguntas/{{id}}" class="btn btn-primary" role="button">Ver</a></td>
        </tr>
  {{/each}}
    </tbody>
</table>


<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/preguntas/agregar">Nueva Pregunta</a>
  </div>
</div>