<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="../../images/Logo.png">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Admin</a></li>
      <li ><a href="/usuarios">Usuarios</a></li>
      <li ><a href="/excursiones">Excursiones</a></li>
      <li ><a href="/capitulos">Capitulos</a></li>
      <li ><a href="/preguntas">Preguntas</a></li>
    </ul>
  </div>
</nav> 


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Pregunta</th>
    </tr>
    </thead>
    <tbody>
  {{#each preguntas}}
       <tr>
        <td>{{pregunta}}</td>
        <td><a href="/preguntas/{{id}}/edit" class="btn btn-primary" role="button">Editar</a></td>
        <td><a href="/preguntas/{{id}}" class="btn btn-primary" role="button">Ver</a></td>
        </tr>
  {{/each}}
    </tbody>
</table>


<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/preguntas/agregar">Nueva Pregunta</a>
  </div>
</div>