
<h1 class="">Noticia: {{noticia.titulo}} </h1>
<h2>Fecha: {{noticia.fecha}} <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h2>



<a href="/noticias" class="btn btn-primary">Regresar</a>